<app-header></app-header>

<div class="container">
    <div class="container mt-4">
        <!-- Sección de Noticias Principales -->
        <div class="row">
          <div class="col-md-6">
            <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
              <!-- Carousel Items -->
            </div>
          </div>
          <!-- Aumentamos el tamaño de la columna para el app-news -->
          <div class="col-md-6 d-flex justify-content-end">
            <div style="width: 100%; max-width: 600px;">
              <app-news></app-news>
            </div>
          </div>
        </div>
      
        <!-- Sección de Categorías -->
        <h3 class="mt-5">Explora por Categorías</h3>
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">NFL</a>
          </div>
          <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">NBA</a>
          </div>
          <!-- Más Categorías -->
        </div>
      
        <!-- Resultados en Vivo -->
        <div class="mt-5">
          <h3>Resultados en Vivo</h3>
          <p>(Integrar API para resultados dinámicos)</p>
        </div>
    </div>
</div>
