<div class="container">
    <div class="col-12">
      <div class="sports-corner">
        <h4>El Rincón Deportivo</h4>
        <ul class="list-group">
          <li class="list-group-item"><a href="#">Diferencia entre WNBA y FIBA</a></li>
          <li class="list-group-item"><a href="#">NFL 101</a></li>
          <li class="list-group-item"><a href="#">El efecto Caitlin Clark: vida y efectos al deporte</a></li>
          <li class="list-group-item"><a href="#">¿Cómo funciona el draft de expansión de la WNBA?</a></li>
          <li class="list-group-item"><a href="#">NBA 101</a></li>
          <li class="list-group-item"><a href="#">Rookies: ¿Más o menos tiempo en juego?</a></li>
          <li class="list-group-item"><a href="#">Atlanta Dream: ¿cómo fue su draft en 2008?</a></li>
          <li class="list-group-item"><a href="#">Nueva tecnología en zapatos para deportistas</a></li>
        </ul>
      </div>
    </div>
</div>